/*Shared Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: #212529;
    background-color: #F5F8FF;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.cta-button {
    padding: 12px 30px;
    background-color: #4e47ff;
    color: white;
    border: 1px solid #4e47ff;
    border-radius: 10px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ffffff;
    color: #4e47ff;
}

.left-half,
.right-half {
    width: 50%;
}

.bg-white {
    background-color: #ffffff;
}

.section-heading {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #252432;
}

/*Header*/
header {
    background: url("/images/Hero-bg.png");
    background-size: cover;
    background-position: center;
}

.navigation {
    padding: 20px 0;
}

.logo h1 a {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4E47FF;
}

.hero-content {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

/* About Section */
.about-section {
    padding: 80px 0;
}

.about-section .left-half h3 {
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}

.about-section .left-half p {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}

.about-section .right-half img {
    width: 403px;
    border-radius: 30px;
}

/* Achievements Section */
.achievements-section {
    padding: 40px 80px;
    background-color: #4d47ff2d;
    border-radius: 24px;
}

.achievement-item h2 {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4e47ff;
}

.achievement-item p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #00000083;
}

/*Reviews Section */
.reviews-section {
    padding: 80px 0;
}

.reviews-list {
    gap: 20px;
}

.review-item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border: 1px solid #F2EDED;
    border-radius: 24px;
}

.review-item h4 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #252432;
}

.review-item .ratings {
    margin-bottom: 10px;
}

.review-item .ratings span {
    font-size: 24px;
    color: #ffb400;
}

.review-item .author {
    gap: 10px;
}

.review-item .author img {
    border-radius: 100%;
}

/* call to action section */
.call-to-action .container {
    padding: 70px 0;
    border-radius: 14px;
}

.cta-section {
    margin-bottom: 20px;
}

.cta-section h3,
.cta-section p,
.cta-section button {
    margin-bottom: 15px;
}

.call-to-action img {
    width: 840px;
    border-radius: 48px;
}